body {
    background-image: url(c10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button {
    width: 200px;
    height: 50px;
    background-color: blue;
    color: #fff4a7;
    border-radius: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.15em;
    cursor: pointer;
    border: 1px solid black;
}
#outside {
    color: white;
    width: 65%;
    margin: auto;
}
#heading {
    width: 100%;
    text-align: center;
    font-size: 3em;
}
#btn {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.btn-inside {
    display: flex;
    gap: 0.5em;
}
#val {
    height: 35px;
}
#res {
    height: 35px;
    font-weight: bold;
    font-size: 1.5em;
}

@media only screen and (max-width: 414px) {
    #outside {
        width: 95%;
        margin: auto;
    }

    #heading {
        font-size: 2.5em;
    }

    button {
        width: 80px;
    }
}

@media only screen and (min-width: 765px) and (max-width: 825px) {
    button {
        width: 140px;
    }
    #outside {
        width: 80%;
    }
}
