@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Outfit', sans-serif;
    /* background-image: url(c10.jpg); */
    background-repeat: no-repeat;
    background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
button{
    width: 200px;
    height: 50px;
    margin: 2px 2px;
    background-color: #3468C0;
    color: #fbfbfb;
    border-radius: 5px;
    font-weight: 700;
    font-style: italic;
    font-size: larger;
    border: none;
}
#outside{
    color: #fbfbfb;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    width: 1000px;
    height: 600px;
    padding: 5px;
}
#heading{
    color: #fbfbfb;
    margin: auto;
    width: 412px;
    font-weight: 500;
    font-size: xxx-large;
}
#btn{
    margin: auto;
    margin-top: 20px;
    width: 815px;
}
.btn-inside{
    width: 900px;
}
#val{
    /* border: 2px solid red; */
    height: 55px;
    width: 783px;
    margin-left: 100px;
    color: white;
    padding-top: 20px;
    font-weight: 600;
}
#res{
    /* border: 2px solid red; */
    height: 50px;
    width: 783px;
    margin-left: 100px;
    color: white;
    padding-left: 37px;
    padding-top: 25px;
    font-weight: bolder;
    font-size: x-large;
}

