.h-100vh{
    min-height: 100vh;
}
.todoss{
    background-color: rgba(18, 180, 180, 0.189) !important;
    border-radius: 15px;
    
}
.addtodo{
    margin: auto;
    background-color: rgba(18, 180, 180, 0.189) !important;
    padding: 20px 0px;
    border-radius: 20px;
}
.addtodo input{
    border-radius: 10px !important;
    padding: 10px 10px;
}
.addtodo button{
    border-radius: 10px;
    padding: 10px 20px;
}