.home {
  min-height: 100vh;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.todo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
  background-color: #E1F0F7;
  border-radius: 6px;
  gap: 5px;
}

input{
  padding: 7px;
  width: 98%;
  border: none;
  border-radius: 6px;
  outline: none;
}
input:focus{
  box-shadow: 0 0 0 2px #2cb0ee;
}
.btn-addTodo{
  padding: 6px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #1DA1F2;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 14px;
  width: 70px;
}

.todo {
  width: 300px;
  padding: 10px;
  background-color: #E1F0F7;
  border-radius: 6px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 16px;
  font-weight: 700;
  margin-right: auto;
}

.utils{
  display: flex;
  align-items: center;
  gap: 8px;
}

.go-up {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #1DA1F2;
  cursor: pointer;
}

.go-down{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #1DA1F2;
  cursor: pointer;
}

.remove{
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.remove::after {
  position: absolute;
  content:'';
  width: 100%;
  height: 2px;
  background-color: black;
  top:0;
  left:0;
  border-radius: 999px;
  transform: translateY(10px) rotate(-45deg);
}

.remove::before {
  position: absolute;
  content:'';
  width: 100%;
  height: 2px;
  background-color: black;
  top:100%;
  left:0;
  border-radius: 999px;
  transform: translateY(-10px) rotate(45deg);
}