.img-parent{
    text-align: center;
}
img{
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin: 20px auto;
}
.img-parent{
    min-height: 85vh;
}
span a{
    width: 150px;
}
@media screen and (max-width: 768px) {
    img{
        width: 300px;
        height: 500px;
    }    
}